<!--<p>bird-list-item works!</p>
<div *ngFor="let bird of birdList" >
  <div *ngIf="bird.isTamed">
    <p>You can hold this bird!</p>
  </div>
  <h1>ID: {{bird.id}}</h1>
  <h1>Name: {{bird.name}}</h1>
  <h1>Type: {{bird.type}}</h1>
  <h1>Weight: {{bird.weight}}</h1>
  <h1>Tamed: {{bird.isTamed}}</h1>
</div>-->

<h1>Bird Information System!</h1>

<app-bird-list-item>{{birdlist[0}.id}</app-bird-list-item>
<app-bird-list-item>{{birdlist[1}.id}</app-bird-list-item>
<app-bird-list-item>{{birdlist[2}.id}</app-bird-list-item>
<app-bird-list-item>{{birdlist[3}.id}</app-bird-list-item>
